<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Station</th>
      <th>Vehicle</th>
      <th>Success</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let trip of trips">
    <td>
      {{ trip.journeyStart }}
    </td>
    <td>
      {{ trip.fromStation }}
    </td>
    <td>
      {{ trip.vehicleType }} - {{ trip.vehicleNumber }}
    </td>
    <td>
      {{ trip.success }}
    </td>
    <td>
      {{ trip.success ? trip.price : '-' }}
    </td>
  </tr>
  </tbody>
</table>
